<?xml version="1.0" encoding="utf-8"?>


<nlog autoReload="true" throwExceptions="true" internalLogFile=".\nlog-internals.log" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">  
  <variable name="EventSource" value="Application" />
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="NLog.Extensions.AzureBlobStorage" />
  </extensions>

  <targets>
    <target name="azure" xsi:type="AzureBlobStorage" layout="[${longdate}] [${level}] [${requestId}] ${message}"
             connectionString="DefaultEndpointsProtocol=https;AccountName=vivantlogs;AccountKey=igMAQyR2I81McQyGNtS1X57xBWLNxs/UL2zn1QgqiN5KQT94V+coIF7yF7pxItAS9dlpwJ/EdiR/tYUInSDybg==;EndpointSuffix=core.windows.net"
      container="nlogs"
      blobName="${logger}/${date:format=yyyy}-${date:format=MMM}-${date:format=dd}-${date:format=yy-MM-dd}.log" >
    </target>
    <!--<target name="ownFile-web" xsi:type="File" layout="[${longdate}] [${level}] [${requestId}] ${message}"
            fileName="D:/nLogs/Middleware/logs/${logger}/${date:format=yyyy}/${date:format=MMM}/${date:format=dd}/logfile.txt"
            archiveFileName="D:/nLogs/Middleware/logs/${logger}/${date:format=yyyy}/${date:format=MMM}/${date:format=dd}/log.{#####}.txt" 
            archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="250" archiveAboveSize="1048576" concurrentWrites="true" keepFileOpen="false" />-->
  </targets>
  <rules>
    <!--<logger name="*" minlevel="Trace" writeTo="allfile" />-->

    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <!--<logger name="Microsoft.*" maxlevel="Info" final="false" />-->
    <!-- BlackHole without writeTo -->
    <!--<logger name="*" minlevel="trace" writeto="ownfile-web" />-->
    <logger name="*" minlevel="Trace" writeTo="azure" />
    <!--<logger name="*" minlevel="Trace" writeTo="custom" />-->
  </rules>
</nlog>